/*palmtree.css*/
@keyframes palm-anim1{
	from{
		transform: rotate(0deg) scale(0.7, 1.2);
	}
	to{
		transform: rotate(-5deg) scale(0.7, 1.2);
	}
}
@keyframes palm-anim2{
	from{
		transform: rotateY(180deg) scale(0.3, 1.2) ;
	}
	to{
		transform: rotateY(120deg) scale(0.3, 1.2) ;
	}
}
@keyframes palm-anim3{
	from{
		transform: rotateY(180deg) skew(-3deg, 12deg) scale(0.7, 1.2);
	}
	to{
		transform: rotateY(200deg) skew(-3deg, 12deg) scale(0.7, 1.2);
	}
}
@keyframes palm-anim4{
	from{
		transform: rotateY(180deg) scale(0.5, 1) rotate(-15deg);
	}
	to{
		transform: rotateY(150deg) scale(0.5, 1) rotate(-10deg);
	}
}
@keyframes palm-anim5{
	from{
		transform: scale(0.3, 0.7) rotate(-35deg) skew(0deg, 10deg);
	}
	to{
		transform: rotateY(-30deg) scale(0.5, 1) rotate(-15deg);
	}
}
@keyframes palm-anim6{
	from{
		transform: scale(0.55, 1.1) rotateZ(-5deg);
	}
	to{
		transform: scale(0.55, 1.1) rotateZ(-5deg) rotateY(-25deg);
	}
}

@-webkit-keyframes palm-anim1{
	from{
		-webkit-transform: rotate(0deg) scale(0.7, 1.2);
	}
	to{
		-webkit-transform: rotate(-5deg) scale(0.7, 1.2);
	}
}
@-webkit-keyframes palm-anim2{
	from{
		-webkit-transform: rotateY(180deg) scale(0.3, 1.2) ;
	}
	to{
		-webkit-transform: rotateY(120deg) scale(0.3, 1.2) ;
	}
}
@-webkit-keyframes palm-anim3{
	from{
		-webkit-transform: rotateY(180deg) skew(-3deg, 12deg) scale(0.7, 1.2);
	}
	to{
		-webkit-transform: rotateY(200deg) skew(-3deg, 12deg) scale(0.7, 1.2);
	}
}
@-webkit-keyframes palm-anim4{
	from{
		-webkit-transform: rotateY(180deg) scale(0.5, 1) rotate(-15deg);
	}
	to{
		-webkit-transform: rotateY(150deg) scale(0.5, 1) rotate(-10deg);
	}
}
@-webkit-keyframes palm-anim5{
	from{
		-webkit-transform: scale(0.3, 0.7) rotate(-35deg) skew(0deg, 10deg);
	}
	to{
		-webkit-transform: rotateY(-30deg) scale(0.5, 1) rotate(-15deg);
	}
}
@-webkit-keyframes palm-anim6{
	from{
		-webkit-transform: scale(0.55, 1.1) rotateZ(-5deg);
	}
	to{
		-webkit-transform: scale(0.55, 1.1) rotateZ(-5deg) rotateY(-25deg);
	}
}

@-moz-keyframes palm-anim1{
	from{
		-moz-transform: rotate(0deg) scale(0.7, 1.2);
	}
	to{
		-moz-transform: rotate(-5deg) scale(0.7, 1.2);
	}
}
@-moz-keyframes palm-anim2{
	from{
		-moz-transform: rotateY(180deg) scale(0.3, 1.2) ;
	}
	to{
		-moz-transform: rotateY(120deg) scale(0.3, 1.2) ;
	}
}
@-moz-keyframes palm-anim3{
	from{
		-moz-transform: rotateY(180deg) skew(-3deg, 12deg) scale(0.7, 1.2);
	}
	to{
		-moz-transform: rotateY(200deg) skew(-3deg, 12deg) scale(0.7, 1.2);
	}
}
@-moz-keyframes palm-anim4{
	from{
		-moz-transform: rotateY(180deg) scale(0.5, 1) rotate(-15deg);
	}
	to{
		-moz-transform: rotateY(150deg) scale(0.5, 1) rotate(-10deg);
	}
}
@-moz-keyframes palm-anim5{
	from{
		-moz-transform: scale(0.3, 0.7) rotate(-35deg) skew(0deg, 10deg);
	}
	to{
		-moz-transform: rotateY(-30deg) scale(0.5, 1) rotate(-15deg);
	}
}
@-moz-keyframes palm-anim6{
	from{
		-moz-transform: scale(0.55, 1.1) rotateZ(-5deg);
	}
	to{
		-moz-transform: scale(0.55, 1.1) rotateZ(-5deg) rotateY(-25deg);
	}
}

.palmtree{
	position: relative;
}
.palmtree .palms{
	position: absolute;
	top: 0px;
	left:0px;
}
.palmtree .tronco{
	position: absolute;
	left: 130px;
	top: 150px;
}
.palmtree .tronco div:last-child{
	border-top: none;
	border-bottom: 80px #4E2F1B solid;
	margin-top: -80px;
}
.tronco div{
	width: 0px;
	height: 0px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 90px #4E2F1B solid;
	border-radius: 38% 10px;
	transform: scale(0.8, 1);
	-webkit-transform: scale(0.8, 1);
	-moz-transform: scale(0.8, 1);
	-o-transform: scale(0.8, 1);
	display: block;
	margin-bottom: -30px;
}
.tronco div:nth-child(even){
	transform: scale(0.8, 1) rotateY(180deg);
	-webkit-transform: scale(0.8, 1) rotateY(180deg);
	-moz-transform: scale(0.8, 1) rotateY(180deg);
	-o-transform: scale(0.8, 1) rotateY(180deg);
}
.palms > div{
	position: absolute;
	width: 456px;
	height: 226px;
	background: url(palm3.png) bottom left repeat-x;
	border-top-right-radius: 35% 80%;
	border-top-left-radius: 65% 100%;
	transform-origin: 100% 100%;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	-webkit-transform-origin: 100% 100%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-moz-transform-origin: 100% 100%;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: alternate;
	-o-transform-origin: 100% 100%;
}
.palms > div > div{
	position: absolute;
	width: 90%;
	height: 90%;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	background: url(palm2.png) bottom left repeat-x;
	bottom: 0px;
}
.palms > div > div > div{
	position: absolute;
	width: inherit;
	height: inherit;
	background: url(palm.png) bottom left repeat-x;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	bottom: 0px;
}
.palms > div:nth-child(1){
	top: 30px;
	left: -245px;
	transform: scale(0.7, 1.2) rotate(0deg);
	-webkit-transform: scale(0.7, 1.2) rotate(0deg);
	-moz-transform: scale(0.7, 1.2) rotate(0deg);
	z-index: -10;
	animation-name: palm-anim1;
	animation-duration: 4.3s;
	-webkit-animation-name: palm-anim1;
	-webkit-animation-duration: 4.3s;
	-moz-animation-name: palm-anim1;
	-moz-animation-duration: 4.3s;
	-o-transform: scale(0.7, 1.2) rotate(0deg);
}
.palms > div:nth-child(2){
	top: 10px;
	left: -290px;
	transform: rotateY(180deg) scale(0.3, 1.2) ;
	-webkit-transform: rotateY(180deg) scale(0.3, 1.2) ;
	-moz-transform: rotateY(180deg) scale(0.3, 1.2) ;
	z-index: 10;
	animation-name: palm-anim2;
	animation-duration: 5s;
	-webkit-animation-name: palm-anim2;
	-webkit-animation-duration: 5s;
	-moz-animation-name: palm-anim2;
	-moz-animation-duration: 5s;
	-o-transform: rotateY(180deg) scale(0.3, 1.2) ;
}
.palms > div:nth-child(3){
	top: 70px;
	left: -290px;
	transform: rotateY(180deg) skew(-3deg, 12deg) scale(0.7, 1.2);
	-webkit-transform: rotateY(180deg) skew(-3deg, 12deg) scale(0.7, 1.2) ;
	-moz-transform: rotateY(180deg) skew(-3deg, 12deg) scale(0.4, 1) ;
	-o-transform: rotateY(180deg) skew(-3deg, 12deg) scale(0.4, 1) ;
	z-index: 30;
	animation-name: palm-anim3;
	animation-duration: 3s;
	-webkit-animation-name: palm-anim3;
	-webkit-animation-duration: 3s;
	-moz-animation-name: palm-anim3;
	-moz-animation-duration: 3s;
}
.palms > div:nth-child(4){
	top: 20px;
	left: -280px;
	transform: rotateY(180deg) scale(0.5, 1) rotate(-15deg);
	-webkit-transform: rotateY(180deg) scale(0.5, 1) rotate(-15deg);
	-moz-transform: rotateY(180deg) scale(0.5, 1) rotate(-15deg);
	-o-transform: rotateY(180deg) scale(0.5, 1) rotate(-15deg);
	z-index: 40;
	animation-name: palm-anim4;
	animation-duration: 2s;
	animation-delay: 3.2s;
	-webkit-animation-name: palm-anim4;
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 3.2s;
	-moz-animation-name: palm-anim4;
	-moz-animation-duration: 2s;
	-moz-animation-delay: 3.2s;
}
.palms > div:nth-child(5){
	top: 0px;
	left: -320px;
	transform: scale(0.3, 0.7) rotate(-35deg) skew(0deg, 10deg);
	-webkit-transform: scale(0.3, 0.7) rotate(-35deg) skew(0deg, 10deg);
	-moz-transform: scale(0.3, 0.7) rotate(-35deg) skew(0deg, 10deg);
	-o-transform: scale(0.3, 0.7) rotate(-35deg) skew(0deg, 10deg);
	z-index: 50;
	animation-name: palm-anim5;
	animation-duration: 4.7s;
	animation-delay: 2.8s;
	animation-timing-function: ease-in-out;
	-webkit-animation-name: palm-anim5;
	-webkit-animation-duration: 4.7s;
	-webkit-animation-delay: 2.8s;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-name: palm-anim5;
	-moz-animation-duration: 4.7s;
	-moz-animation-delay: 2.8s;
	-moz-animation-timing-function: ease-in-out;
}
.palms > div:nth-child(6){
	top: 50px;
	left: -280px;
	transform: scale(0.55, 1.1) rotate(-5deg);
	-webkit-transform: scale(0.55, 1.1) rotate(-5deg);
	-moz-transform: scale(0.55, 1.1) rotate(-5deg);
	-o-transform: scale(0.55, 1.1) rotate(-5deg);
	z-index: 60;
	animation-name: palm-anim6;
	animation-duration: 3.7s;
	animation-delay: 0.6s;
	-webkit-animation-name: palm-anim6;
	-webkit-animation-duration: 3.7s;
	-webkit-animation-delay: 0.6s;
	-moz-animation-name: palm-anim6;
	-moz-animation-duration: 3.7s;
	-moz-animation-delay: 0.6s;
}